[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
matplotlib = "*"
bpython = "*"
numpy = "*"
requests = "*"
beautifulsoup = "*"
lxml = "*"
sqlite3 = "*"

[requires]
python_version = "3.7"
PIPENV_NO_INHERIT = "7"
